.dl-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0.2em 0.8em;
    margin: 0;

    dt {
        font-weight: 700;
        text-align: right;
    }

    dd {
        margin-left: 0;

        & + dd {
        grid-column-start: 2;
        }
    }
}

.el-space__item{
    width: 100%;
}